*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  padding-inline-start: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
button {
  cursor: pointer;
  outline: 0;
  border: none;
}

address {
  font-style: normal;
}

@media (min-width: 768px) {
  .promo__headline {
    animation-name: slidein;
    animation-duration: 1s;
  }

  @keyframes slidein {
    from {
      top: 15%;
      opacity: 0;
    }
    to {
      top: 30%;
      opacity: 1;
    }
  }
  .promo__label {
    animation-name: slideleft;
    animation-duration: 1s;
  }

  @keyframes slideleft {
    from {
      left: 15%;
      opacity: 0;
    }
    to {
      left: 25%;
      opacity: 1;
    }
  }
  .promo__info {
    animation-name: slidedown;
    animation-duration: 1s;
  }

  @keyframes slidedown {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 94px;
      opacity: 1;
    }
  }
}
.btn {
  min-width: 200px;
  min-height: 80px;
  border-radius: 4px;
}

.burger-menu {
  display: none;
}

@media (max-width: 767px) {
  .burger-menu {
    display: block;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    background-color: transparent;
    width: 45px;
    height: 45px;
  }
  .burger-menu span {
    position: absolute;
    display: block;
    width: 45px;
    height: 3px;
    background-color: #fff;
    transition: all 400ms;
  }
  .burger-menu span::before, .burger-menu span::after {
    content: "";
    display: block;
    position: absolute;
    width: 45px;
    height: 3px;
    left: 0;
    background-color: #fff;
    transition: all 0.8s;
  }
  .burger-menu span::before {
    top: -10px;
  }
  .burger-menu span::after {
    bottom: -10px;
  }
}
.header.open {
  height: 100vh;
  align-items: start;
}
.header.open .logo {
  display: none;
}
.header.open .burger-menu {
  top: 56px;
}
.header.open .burger-menu span {
  width: 0;
  transition: all 400ms;
}
.header.open .burger-menu span::before {
  top: 0;
  transform: rotate(45deg);
}
.header.open .burger-menu span::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.header.open .nav__list {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
.header.open .nav__item {
  font-size: 32px;
  margin-bottom: 20px;
}
.header.open .header__nav {
  width: 100%;
  height: 100vh;
}

.headline {
  font-size: 50px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .headline {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .headline {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .headline {
    font-size: 44px;
  }
}
.label {
  display: flex;
  align-items: center;
  font-size: 17px;
  position: relative;
  color: #9013fe;
  min-width: 420px;
  margin-left: 0;
}
.label__text {
  text-transform: uppercase;
  padding-left: 105px;
  line-height: 1.5;
}
.label__text:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #9013fe;
  left: 40px;
  width: 65px;
  height: 1px;
}
.label__text_speakers {
  text-transform: capitalize;
}
.label__text_agenda {
  padding-left: 250px;
}
.label__text_agenda:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #9013fe;
  left: 40px;
  width: 154px;
  height: 1px;
}
.label_speakers {
  transform: rotate(90deg);
  width: 20px;
  position: absolute;
  top: 75%;
  left: -24%;
  margin-left: 0;
  margin-top: 15px;
}

@media (max-width: 767px) {
  .label {
    width: 100%;
    margin-top: 8px;
  }
}
@media (max-width: 480px) {
  .label {
    min-width: 270px;
  }
}
.header {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 15;
}
.header__nav {
  margin-left: auto;
  position: relative;
}
.header__btn {
  margin: 0 0 0 22px;
  background: #9013fe;
  height: 100%;
  padding: 0 30px;
  color: #fff;
}

.logo {
  margin-left: 50px;
  position: relative;
}
.logo__text {
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 1.75px;
  color: #fff;
  text-decoration: none;
}
.logo:after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  background: #9013fe;
  bottom: 12px;
  right: -12px;
}

.nav__list {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 50px;
}
.nav__item {
  height: 50px;
  padding: 0 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.nav__item:first-child {
  margin-left: 0;
}
.nav__link {
  text-decoration: none;
  line-height: 100%;
  display: flex;
  color: #fff;
  transition: color 0.4s ease 0s;
}
.nav__link span {
  line-height: 100%;
}
.nav__link:hover {
  color: #9013fe;
}

.active-item {
  color: #9013fe;
  transition: all 600ms;
}

@media (max-width: 767px) {
  .header {
    width: 100%;
    background-color: #0c1d39;
    position: relative;
  }

  .nav__list {
    display: none;
  }

  .header__btn {
    display: none;
  }
}
.promo {
  background: url("../images/people-img.webp") center center/cover no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  position: relative;
}
.promo__overlay {
  background-color: #0a172e;
  opacity: 75%;
  width: 100%;
  height: 100vh;
}
.promo__headline {
  position: absolute;
  top: 30%;
  left: 25%;
  color: #fff;
  font-size: 90px;
  line-height: 108px;
  font-weight: 400;
}
.promo__label {
  position: absolute;
  top: 58%;
  left: 25%;
  min-width: 430px;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.75px;
  padding-left: 116px;
}
.promo__label:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #9013fe;
  width: 90px;
  height: 1px;
  left: 0px;
}
.promo__info {
  position: absolute;
  bottom: 94px;
  left: 43%;
  display: flex;
  padding-right: 15px;
}
.promo__wrapper {
  display: flex;
}
.promo__date, .promo__location {
  padding: 30px 39px;
  color: #c9d1de;
  letter-spacing: 1.02px;
  border: 1px solid #c9d1de;
  font-size: 17px;
}
.promo__date {
  border-radius: 4px 0 0 4px;
}
.promo__location {
  border-radius: 0 4px 4px 0;
}
.promo__btn {
  color: #0c1d39;
  background: #fff;
}

.promo__info .promo__location {
  border-left: none;
  margin-right: 15px;
}

@media (max-width: 767px) {
  .promo {
    height: auto;
  }
  .promo__headline {
    top: 10%;
    left: 50%;
    font-size: 72px;
    line-height: 95px;
    transform: translateX(-50%);
    padding-left: 14px;
  }
  .promo__info {
    flex-direction: column;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 0;
  }
  .promo__info .promo__location {
    margin-right: 0;
  }
  .promo__wrapper {
    margin-bottom: 15px;
  }
  .promo__label {
    display: none;
  }
}
@media (max-width: 480px) {
  .promo__headline {
    top: 16%;
    font-size: 44px;
    line-height: 67px;
    padding-left: 0;
  }
}
.follow {
  margin-top: 30px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 246px;
  min-height: 68px;
}
.follow__caption {
  padding: 22px 36px 18px;
  text-transform: uppercase;
  flex: 1 1 auto;
  color: #9013fe;
  border-right: 1px solid #ccc;
  font-size: 14px;
}
.follow__img {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
.follow__img_first {
  border-right: 1px solid #ccc;
}

.speakers {
  background: #c9d1de;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}
.speakers__wrapper {
  width: 1076px;
  background: #fff;
  z-index: 10;
}
.speakers__items {
  padding: 0 90px 0 120px;
}
.speakers__item {
  display: flex;
  margin-bottom: 140px;
  position: relative;
  margin-top: 70px;
}
.speakers__item_reverse .label_speakers {
  order: 3;
  left: auto;
  right: -22%;
}
.speakers__item_reverse .speakers__img {
  order: 2;
}
.speakers__text {
  width: 350px;
}
.speakers__img {
  width: 220px;
  margin-right: 125px;
  margin-left: 120px;
}
.speakers__img img {
  transition: 0.3s;
}
.speakers__img img:hover {
  transform: scale(1.08);
}
.speakers__content {
  display: flex;
  flex-direction: column;
}
.speakers__header {
  display: flex;
  align-items: center;
  margin-bottom: 120px;
}
.speakers__headline {
  margin-right: 164px;
}
.speakers__name {
  color: #0c1d39;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}
.speakers__subheader {
  color: #73839c;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 10px;
}
.speakers__text {
  color: #3a4961;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .speakers {
    padding-top: 80px;
  }
  .speakers__wrapper {
    width: 90%;
  }
  .speakers__content {
    align-items: center;
  }
  .speakers__header {
    flex-direction: column;
    margin-bottom: 80px;
  }
  .speakers__text {
    text-align: center;
  }
  .speakers__items {
    padding: 0 40px;
  }
  .speakers__item {
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }
  .speakers__item .label {
    display: none;
  }
  .speakers__item_reverse .speakers__img {
    order: 1;
  }
  .speakers__item_reverse .speakers__content {
    order: 2;
  }
  .speakers__headline {
    margin-right: 0;
  }
  .speakers__name {
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .speakers__wrapper {
    width: 100%;
  }
  .speakers__text {
    width: 100%;
  }
}
.agenda {
  background-color: #0c1d39;
  padding-top: 240px;
  margin-top: -140px;
}
.agenda__wrapper {
  max-width: 940px;
  margin: 0 auto;
}
.agenda__header {
  display: flex;
  padding-left: 10%;
}
.agenda__headline {
  color: #fff;
  margin-right: 25px;
}
.agenda .label {
  margin-top: 15px;
}
.agenda__timing {
  margin-top: 95px;
  margin-bottom: 95px;
}
.agenda__item {
  padding: 40px 0 40px 10%;
  border-bottom: 1px solid #2f3e57;
}
.agenda__item:first-child {
  padding-top: 0;
}
.agenda__time {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.9px;
  font-family: "Playfair Display", serif;
  margin-right: 70px;
  position: relative;
}
.agenda__time:after {
  content: "";
  display: block;
  width: 1px;
  height: 27px;
  background: #2f3e57;
  position: absolute;
  top: 10px;
  left: 120px;
}
.agenda__event {
  color: #c9d1de;
  font-size: 25px;
  font-weight: 700;
}
.agenda__summary {
  max-width: 1076px;
  background-color: #fff;
  margin: 0 auto;
  min-height: 230px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: relative;
  z-index: 10;
}
.agenda__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 50px;
}
.agenda__column:first-child:after, .agenda__column:nth-child(2):after {
  content: "";
  display: block;
  width: 1px;
  height: 112px;
  background: #2f3e57;
  position: absolute;
  top: 55%;
  right: -25px;
  transform: translateY(-50%);
  background: #9013fe;
}
.agenda__number {
  color: #0c1d39;
  font-size: 70px;
  font-family: "Playfair Display", serif;
}
.agenda__caption {
  color: #73839c;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
}
.agenda__btn {
  background: #9013fe;
  color: #fff;
}

@media (max-width: 767px) {
  .agenda {
    padding-top: 100px;
    margin-top: 0;
  }
  .agenda__wrapper {
    max-width: 100%;
    width: 100%;
    padding: 0 10%;
  }
  .agenda__summary {
    max-width: none;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .agenda__timing {
    padding-bottom: 100px;
  }
  .agenda__column:first-child::after, .agenda__column:nth-child(2)::after {
    display: none;
  }
  .agenda__column:last-child {
    margin: 30px 0;
  }
  .agenda__header {
    flex-direction: column;
  }

  .label__text_agenda:before {
    left: 6px;
  }

  .label__text_agenda {
    padding-left: 210px;
  }
}
@media (max-width: 480px) {
  .agenda {
    padding-top: 80px;
  }
  .agenda__item {
    flex-direction: column;
    padding: 0;
    padding-bottom: 20px;
  }
  .agenda__time {
    font-size: 21px;
    margin-right: 42px;
  }
  .agenda__time::after {
    top: 3px;
    left: 82px;
  }
  .agenda__event {
    font-size: 20px;
  }
  .agenda__timing {
    padding-bottom: 10px;
  }
}
.venue {
  display: flex;
  margin-top: -100px;
  width: 100%;
  min-height: 818px;
  background: #c9d1de;
}
.venue__img {
  flex: 0 1 45%;
  min-height: 818px;
  min-width: 400px;
  position: relative;
  background: url("../images/venue.webp") -50px 0 no-repeat fixed;
  background-size: auto 100%;
}
.venue__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #0a172e;
  opacity: 40%;
}
.venue__pic {
  width: 100%;
  height: auto;
}
.venue__content {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 14%;
  padding-right: 20px;
}
.venue__headline {
  margin-bottom: 16px;
}
.venue__text {
  max-width: 440px;
  color: #3a4961;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.36px;
}
.venue__label {
  margin-bottom: 40px;
  color: #3a4961;
}
.venue__label .label__text {
  padding-left: 75px;
  line-height: 1.5;
  text-transform: capitalize;
}
.venue__label .label__text:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #9013fe;
  top: 10px;
  left: 0;
  width: 65px;
  height: 1px;
}

@media (max-width: 767px) {
  .venue {
    flex-direction: column;
    margin-top: 0;
  }
  .venue__content {
    margin-top: 50px;
    margin-left: 0;
    margin-bottom: 60px;
    width: 100%;
    padding: 0 10%;
  }
  .venue__img {
    min-height: 320px;
  }
  .venue__text {
    max-width: 80%;
  }
}
@media (max-width: 480px) {
  .venue__img {
    min-width: 320px;
  }
  .venue__text {
    max-width: 100%;
  }
  .venue__img {
    background: url(../images/venue.webp) -260px 0 no-repeat fixed;
  }
}
.container {
  width: 100%;
  height: 100%;
  padding: 0 25%;
  margin-left: auto;
  margin-right: auto;
}

.container_header {
  width: 100%;
  padding: 0 25%;
}

@media (max-width: 767px) {
  .container {
    padding: 0 10%;
  }

  .container_header {
    width: 100%;
    padding: 0 10%;
  }
}
.logos {
  width: 100%;
  margin-top: 120px;
}
.logos__items {
  display: flex;
  justify-content: space-between;
}
.logos__item {
  flex: 0 1 25%;
  height: 40px;
  padding-right: 30px;
}
.logos__item:last-child {
  padding-right: 0;
}
.logos__item_big {
  height: 50px;
}
.logos__img {
  max-width: none;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .logos {
    margin-top: 80px;
  }
  .logos__items {
    flex-direction: column;
  }
  .logos__item {
    padding-right: 0;
    margin-bottom: 40px;
    height: 40px;
  }
}
.sponsors {
  width: 100%;
  min-height: 496px;
  padding-top: 120px;
  background-color: #9013fe;
}
.sponsors__header {
  display: flex;
}
.sponsors__headline {
  color: #fff;
}
.sponsors__label {
  color: #fff;
}
.sponsors__text {
  margin-top: 14px;
  padding-left: 135px;
}
.sponsors__text::before {
  margin-top: 6px;
  background-color: #fff;
}

@media (max-width: 767px) {
  .sponsors {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .sponsors__header {
    flex-direction: column;
  }
  .sponsors__text {
    padding-left: 100px;
  }
  .sponsors__text::before {
    left: 6px;
  }
}
.contact {
  background-color: #0c1d39;
  padding-top: 120px;
  padding-bottom: 120px;
}
.contact__section {
  display: flex;
  padding-bottom: 60px;
  position: relative;
}
.contact__section:nth-child(2) {
  padding-top: 60px;
}
.contact__section_flex {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  border-bottom: none;
  padding-bottom: 0;
}
.contact__section.line::before, .contact__section.line::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background: #2f3e57;
}
.contact__section.line::before {
  top: 0;
  left: 0;
}
.contact__section.line::after {
  left: 0;
  bottom: 0;
}
.contact__wrapper {
  display: flex;
}
.contact__headline {
  font-size: 50px;
  color: #fff;
  font-weight: normal;
}
.contact__label {
  min-width: auto;
  position: relative;
  align-items: flex-end;
}
.contact__txt::before {
  top: auto;
  bottom: 12px;
  left: 25px;
}
.contact__btn {
  background: #9013fe;
  color: #fff;
}
.contact__column {
  width: 260px;
  color: #fff;
  padding-right: 44px;
}
.contact__caption {
  display: block;
  font-size: 25px;
  font-family: "Playfair Display", serif;
  color: #fff;
}
.contact__text {
  display: block;
  margin-top: 22px;
  color: #73839c;
  font-size: 18px;
}
.contact__form {
  margin-top: 52px;
}
.contact__input {
  width: 325px;
  min-height: 56px;
  border: 1px solid #fff;
  background-color: transparent;
  padding: 10px;
  border-radius: 4px;
  margin-right: 10px;
}
.contact__input::placeholder {
  color: #fff;
}
.contact__input:hover {
  border: 1px solid #3a4961;
  background-color: #3a4961;
  transition: all 500ms;
}
.contact__btn {
  width: 164px;
  min-height: 56px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 4px;
}
.contact__btn:hover {
  border: 1px solid #9013fe;
  background-color: #9013fe;
  transition: all 500ms;
}

@media (max-width: 767px) {
  .contact__section {
    flex-direction: column;
  }
  .contact__caption {
    font-size: 35px;
  }
  .contact__txt {
    margin-top: 20px;
  }
  .contact__txt::before {
    left: 6px;
  }
  .contact__input {
    display: block;
    width: 80%;
    margin-bottom: 30px;
  }
  .contact__btn {
    width: 250px;
  }
  .contact__text {
    font-size: 18px;
    margin-bottom: 22px;
  }
  .contact__text:last-child {
    margin-bottom: 40px;
  }
}
@media (max-width: 480px) {
  .contact__wrapper {
    flex-direction: column;
  }
}
.footer {
  flex: 0 0 auto;
  height: 100px;
  background: #9013fe;
}
.footer__map {
  height: 300px;
}
.footer__copyright {
  min-height: 68px;
  background-color: #9013fe;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.footer__text {
  font-size: 14px;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__body {
  opacity: 1;
  visibility: visible;
}
.popup__body {
  display: flex;
  align-items: center;
  position: relative;
  opacity: 0;
  visibility: hidden;
  justify-content: center;
  padding: 30px 10px;
  max-width: 600px;
  min-height: 360px;
  background-color: #c9d1de;
  transition: all 0.8s ease 0s;
  margin: 10px;
  border-radius: 8px;
}
.popup__content {
  color: #000;
  max-width: 700px;
  padding: 30px;
  border-radius: 2px;
  position: relative;
}
.popup__close {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 20px;
  right: 15px;
  background: transparent;
}
.popup__close:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 20px;
  background: #000;
  transform: rotate(45deg);
}
.popup__close:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 20px;
  background: #000;
  transform: rotate(-45deg);
}
.popup__form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.popup__text {
  text-align: center;
}
.popup__control {
  border-radius: 4px;
  background: transparent;
  border-color: #0c1d39;
  color: #0c1d39;
  border-width: 1px;
  height: 35px;
  padding: 0 10px;
}
.popup__control:first-child {
  margin-bottom: 15px;
}
.popup__btn {
  margin: 0 auto;
  margin-top: 35px;
  width: 60%;
  min-height: 45px;
  border-radius: 4px;
  background: #9013fe;
  color: #fff;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  min-height: 100%;
}

body {
  background: #fff;
  min-height: 100%;
  overflow-x: hidden;
}
body.hidden {
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.outline {
  border: 1px solid #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
