.container {
  width: 100%;
  height: 100%;
  padding: 0 25%;
  margin-left: auto;
  margin-right: auto;
}

.container_header {
  width: 100%;
  padding: 0 25%;
}

@media (max-width: 767px) {
  .container {
    padding: 0 10%;
  }
  .container_header {
    width: 100%;
    padding: 0 10%;
  }
}
