.headline {
  font-size: 50px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .headline {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .headline {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .headline {
    font-size: 44px;
  }
}
